/* Header Styles */
header {
    background-color: var(--primary-color); 
    color: #fff; /* text color */
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff; /* Change link color to your preference */
  }
  
.nav_row_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.header_photo {
  width: 55px;
  height: 55px;
  border: 1px solid gray;
  border-radius: 100px;
  margin-top: -7px;
  order: 2;
  border: 4px solid white;
}

/* .column_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */
  