/* Header Styles */
header {
    background-color: #77037B; 
    color: #fff; /* text color */
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff; /* Change link color to your preference */
  }
  
.nav_row_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

/* .column_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */
  